.time {
    text-align: center;
    padding: 32px;
    position: relative;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
    gap: 32px;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 20px;
    right: 50px;
}

@media screen and (max-width: 768px) {
    .time h1 {
        font-size: 20px;
    }
    .time h3 {
        font-size: 24px;
    }
}